header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #BBBFC1;
}

h1{
    color: #242731;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

h1 p{
    color: #242731;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.checkbox-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.checkbox-p{
    color: #000;
font-family: Roboto;
font-size: 16px;
}

.blue-text{
    color: #007AFF;
font-family: Roboto;
font-size: 16px;
font-weight: bold;

}

h3{
    color: #242731;
font-size: 20px;
}

h3 p{
    color: #575F6E;
font-size: 12px;
}

form{
    display: flex;
flex-direction: column;

gap: 20px;
align-self: stretch;
}


.notification{
    width: 100%;
    background-color: #EFF7FF;
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

}

.notification div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


button{
    display: flex;
    height: 48px;
    padding: 0 24px 0 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #BBBFC1;
    background: #FFF;
    width: 150px;
}

.title{
    gap: none;
}

a{
    color: inherit;
    text-decoration: none;
}

@media (min-width: 768px){
    
    main{
        border-bottom: none;
    }

    body{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        header{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header-img{
            width: 30px;
        }

        .logo{
            margin: 0;
        }

        .logo-img{
            width: 30px;
        }

        h2{
            font-size: 160%;
            width: auto;
        }

        .header-img{

            width: 1.5%;
        }

        h1{
            margin-top: -3%;
            font-size: 250%;
        }

        .h1-p{
            font-size: 120%;
            text-align: left;
            
        }

        form{
            border: 1px solid #E2E4E5;
            border-radius: 1%;
            display: flex;
            padding: 32px;
            align-self: stretch;
            flex-direction: column;
        }

        .notification{
            display: flex;
            padding: 14px;
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;
            align-self: stretch;
            background-color: #FFF;
            margin-top: 5%;
            border-radius: 8px;
            border: 1px solid #E2E4E5;
            margin-bottom: 5%;

        }

        .div-date-place{
            display: flex;
            gap: 5%;
        }

        .div-date{
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 5%;
        }

        .div-place{
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 5%;
        }
}