header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #BBBFC1;
}

h1{
    color: #242731;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

h1 p{
    color: #242731;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.checkbox-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.checkbox-p{
    color: #000;
font-family: Roboto;
font-size: 16px;
}

.blue-text{
    color: #007AFF;
font-family: Roboto;
font-size: 16px;
font-weight: bold;

}

h3{
    color: #242731;
font-size: 20px;
}

h3 p{
    color: #575F6E;
font-size: 12px;
}

form{
    display: flex;
flex-direction: column;

gap: 20px;
align-self: stretch;
}


.notification{
    width: 100%;
    background-color: #EFF7FF;
    display: flex;
padding: 16px 24px;
flex-direction: column;
align-items: flex-start;

align-self: stretch;

}

.notification div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


button{
    display: flex;
height: 48px;
padding: 0 24px 0 32px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 4px;
border: 1px solid #BBBFC1;
background: #FFF;
}

.title{
    gap: none;
}






















@media (min-width: 768px){

}